body {
    font-family: Arial, sans-serif;
    background-color: #f7f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color:rgb(15, 15, 128);
    color: white;
    padding: 10px;
    text-align: left;
}

form {
    color:white;
    max-width: 400px;
    margin: 20px auto;
    background-color : rgb(15, 15, 99);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius:4px;
}

button {
    background-color: #192851;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-color:white;
}

button:hover {
    background-color: #45a049;
    color:white;
    border-color: white;
}

.error-message {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}
.heading{
    text-align:center;
    color:white;
    font-weight: bold;
}